appId: com.app.ElectronTiTo

publish:
    provider: github
    token: YOUR_GITHUB_TOKEN

releaseInfo:
  releaseNotesFile: "./release-notes.md"
  
extraFiles: [
  "db/tito.sqlite3",
  "python/**/*",
  "assets/**/*"
]

files:
  [
    "*.js",
    "renderer/**/*"
  ]

icon: ./assets/icon/icon.png